DEBUG=True
SECRET_KEY=s3cr3t
DATABASE_URL=
ALLOWED_HOSTS=*
TIME_ZONE=
LND_FOLDER=PATH_TO_LND_NODE
LND_MACAROON_FILE=PATH_TO_admin.macaroon
LND_TLS_CERT_FILE=PATH_TO_tls.cert
LND_NETWORK="regtest"
MIN_VIEW_AMOUNT=1500
MIN_PUBLISH_AMOUNT=2100
PUBLISH_INVOICE_EXPIRY=604800
VIEW_INVOICE_EXPIRY=10800