<li class="timeline-item">
    <div class="timeline-figure">
        <span class="tile tile-circle tile-sm bg-warning"><i class="bi bi-lightning-charge-fill"></i></span>
    </div>
    <div class="timeline-body">
        <div class="media">
            <div class="media-body">
                <p class="mb-0">
                    {% if payment.user %}{{ payment.user.profile.get_screen_name }}{% else %}<i
                        class="bi bi-question-circle-fill"></i> {% endif %} paid
                    {{ payment.satoshi_amount }} sats to
                    {{ payment.purpose }} {% if mode == 'general' %}<a
                        href="{{ payment.article.get_absolute_url }}">"{{ payment.article.title }}"</a>{% endif %}
                </p><span class="timeline-date">{{ payment.created_at }}</span>
            </div>
        </div>
    </div>
</li>
ytu3d6wd2ru3lgx34j883hl1hi7y2ijc