{% load static %}

<style>
    .clickable {
        cursor: pointer !important;
    }
</style>

<form id="pub-lndInvoice">
    <fieldset>
        <div class="form-group">
            {% if purpose == 'publish' %}
            <label style="font-weight:600" for="lndInvoice">Pay $0.85 (2,100 sats) to publish</label>
            {% elif purpose == 'view' %}
            <label style="font-weight:600" for="lndInvoice">Pay $0.6 (1,500 sats) to view</label>
            {% endif %}
            <div class="input-group input-group-lg">
                <label class="input-group-prepend" for="lndInvoice">
                    <span class="badge"><i class="bi bi-lightning-charge-fill"></i></span>
                </label>
                <input type="text" class="form-control form-control-lg" id="pubLndInvoice"
                    value="{{ invoice.payment_request }}" readonly>
                <div class="input-group-append">
                    <span class="badge clickable" id="openWallet"><a href="lightning:{{ invoice.payment_request }}"><i
                                class="bi bi-wallet"></i> Open
                            wallet</a></span>
                    <span class="badge clickable" id="copyInvoice"><i class="bi bi-subtract"></i> Copy</span>
                    <span class="badge clickable" id="showQRCode"><i class="bi bi-qr-code-scan"></i> Show QR</span>
                </div>
            </div>
            <div class="mt-1" id="invoice-status" hx-get="/payments/check_payment/{{ invoice.pk }}/"
                hx-trigger="every 10s" hx-target="#invoice-status" hx-swap="innerhtml">Checking for payment<div
                    class="typing ml-1">
                    <span class="dot"></span> <span class="dot"></span> <span class="dot"></span>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<!-- QR Code card -->
<div class="card text-black bg-warning" id="qrCodeCard">
    <div class="card-header"> Scan QR Code </div>
    <div class="card-body" id="qr-code"></div>
</div>
<!-- end QR Code card -->

{% block javascript %}
<script src="{% static 'js/copy.js' %}"></script>
<script src="{% static 'js/kjua.min.js' %}"></script>
<script>
    // copy lnd invoice to clipboard on click
    createCopy('{{ invoice.payment_request }}', 'copyInvoice', function () {
        alert('Lightning invoice was copied to clipboard');
    });

    // generate QR code with kjua
    $('#qr-code').kjua({
        text: 'lightning:{{ invoice.payment_request }}'
    });

    let qrCode = $("#qrCodeCard");
    // keep the code hidden until
    qrCode.hide()

    $("#showQRCode").on("click", function () {
        qrCode.toggle("fast")
    });
</script>
{% endblock %}