{% extends 'base.html' %}
{% load static i18n humanize %}

{% block content %}

<section class="position-relative pb-5 bg-light">
    <!-- .sticker -->
    <div class="sticker">
        <div class="sticker-item sticker-top-right sticker-soften">
            <img src="{% static 'images/decoration/cubes.svg' %}" alt="" data-aos="zoom-in"
                class="aos-init aos-animate">
        </div>
        <div class="sticker-item sticker-bottom-left sticker-soften scale-150">
            <img src="{% static 'images/decoration/cubes.svg' %}" alt="" data-aos="zoom-in"
                class="aos-init aos-animate">
        </div>
    </div><!-- /.sticker -->
    <!-- .container -->
    <div class="container position-relative">

        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center text-sm-left"> Paywalled</h2>
                <p class="lead text-muted text-center text-sm-left mb-5">Exploring the lightning network through
                    micropayments. Pay a tiny fee to publish, read, edit and comment on articles.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="list-group list-group-flush list-group-divider">
                    {% for article in articles %}
                    {% include 'partials/article_list.html' %}
                    {% empty %}
                    <h4 class="no-data">{% trans 'There is no published article yet' %}. <a
                            href="{% url 'articles:write_new' %}">{% trans 'Be the first one to publish one' %}!</a>
                    </h4>
                    {% endfor %}
                </div>

                <!-- @todo: add pagination to article in home view  -->
                {% if is_paginated %}
                <ul class="pagination justify-content-center mb-4">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr;
                            {% trans 'Newer' %}</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#"><span>&larr;</span></a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item disabled"><a class="page-link" href="#">{{ i }} <span
                                class="sr-only">(current)</span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_obj.next_page_number }}">{% trans 'Older' %} &rarr;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#"><span>&rarr;</span></a></li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>

            <div class="col-md-4">
                <div class="card text-light bg-dark">
                    <div class="card-header text-warning"><i class="bi bi-lightning-charge-fill"></i> Lightning Rewards
                        Stream</div>
                    <div class="card-body">
                        {% if payments %}
                        <ul class="timeline timeline-fluid">
                            {% for payment in payments %}
                            {% include 'partials/article_payment.html' with mode="general" %}
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No payments for this article at this time.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}