{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags humanize %}

{% block title %}{{ article.title|title }}{% endblock %}

{% block content %}

<style>
    .article-content {
        position: relative;
        overflow: hidden;
    }

    .article-content .continue-reading {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 30px 0;
        background-image: linear-gradient(to bottom, transparent, gray);
    }
</style>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{ article.title }}</h1>
            <p>Published {{ article.date_published|naturaltime }} by
                {{ article.user.profile.get_screen_name }}{% if article.user == request.user %}<a
                    class="btn btn-light ml-3" href="{% url 'articles:edit_article' article.id %}"
                    title="Edit this article"><i class="bi bi-pencil" aria-hidden="true"></i> Edit this
                    article</a>{% endif %}
            </p>
            <hr>
            <div class="article-content">
                {{ article.content|safe }}
                {% if not payment_made %}
                <div class="continue-reading">
                    <div class='alert alert-info mx-5' role='alert'>Pay the invoice below to keep reading</div>
                </div>
                {% endif %}
            </div>
            <hr>
            {% if payment_made %}
            <div id='paymentStatus' data-status='paid' class='alert alert-success' role='alert'>Payment confirmed. Thank
                you</div>
            {% else %}
            <div id="publishInvoice" class="mt-3">
                {% if invoice %}
                {% include 'partials/partial_invoice.html' with purpose="view" %}
                {% else %}
                <p>missing invoice</p>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="card text-light bg-dark">
                <div class="card-header"> Total reward: {{ article.get_total_reward.total_reward }} sats</div>
                <div class="card-body">
                    {% if received_payments %}
                    <ul class="timeline timeline-fluid">
                        {% for payment in received_payments %}
                        {% include 'partials/article_payment.html' %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No payments for this article at this time.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    var $el, $outerdiv, $nextdiv, divs, totalHeight;

    totalHeight = 0
    $el = $('.continue-reading');
    $outerdiv = $el.parent();

    // set the max-height of the content div to 400px on load
    $outerdiv
        .css({
            "max-height": "400px"
        })

    // set a delay to allow the hx-trigger to run first
    var delay = 12000;
    setTimeout(function () {
        // check the data-status attribute on the alert div in the invoice-status area
        let paymentStatus = $('#paymentStatus').data("status");

        if (paymentStatus === "paid") {
            // if paid, remove the max-height css property
            $outerdiv
                .css({
                    "max-height": ""
                });

            // fade out continue reading
            $el.fadeOut();

            // prevent jump-down
            return false;
            console.log('Payment status', paymentStatus);
        }
    }, delay);
</script>
{% endblock javascript %}