{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'articles:list' %}">{% trans 'Articles' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Write a new article' %}</li>
    </ol>
</nav>
<form method="POST" action="">
    {% csrf_token %}
    {% crispy form %}
</form>

<div id="publishInvoice">
    {% for payment in article.payments.all %}
    <p class="text-danger">{{ payment.payment_request }}</p>
    {% endfor %}
</div>

{% endblock content %}

{% block modal %}
<script src="{% static 'js/articles.js' %}"></script>
{% endblock modal %}