{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block content %}

<form method="POST" action="" id="article-form">
    {% csrf_token %}
    {% crispy form %}
</form>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/articles.js' %}"></script>

<script>
    // publish button initially disabled
    $('.publish').prop('disabled', true);
    // set a delay to allow the hx-trigger to run first
    var delay = 12000;
    setTimeout(function () {
        // check the data-status attribute on the alert div in the invoice-status area
        let paymentStatus = $('#paymentStatus').data("status");

        if (paymentStatus === "paid") {
            // enable publish button
            $('.publish').removeAttr('disabled');
            console.log('Payment status', paymentStatus);
        }
    }, delay);
</script>
{% endblock javascript %}