{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'articles:list' %}">{% trans 'Articles' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Write a new article' %}</li>
    </ol>
</nav>
<form method="POST" action="" id="article-form">
    {% csrf_token %}
    {% crispy form %}
</form>

<div id="publishInvoice" class="mt-3">
    {% for payment in article.payments.all %}
    {% include 'partials/partial_invoice.html' %}
    {% endfor %}
</div>

<!-- Generates invoice on click -->
<button id="basic-button" class="btn btn-lg btn-warning"
    hx-get="{% url 'payments:generate_pub_invoice' article.uuid %}">
    Generate invoice
</button>
<!-- end generate invoice -->


{% endblock content %}

{% block modal %}
<script src="{% static 'js/articles.js' %}"></script>
{% endblock modal %}